extends layout

block content
  div(class="container")
    div(class="header")
      h3(class="text-muted") Commute Info Service
    div(class="jumbotron")
      h1 Privacy Policy
      br
      p(class="lead", class="text-left") The skill collects the following private information for the sole purpose of providing you with an accurate estimate of the commute duration:
      p(class="lead", class="text-left") 1. Your home address.
      p(class="lead", class="text-left") 2. The destination address(es) of your commute route(s).
      p(class="lead", class="text-left") Commute Info Service for Alexa does not share or sell any names, addresses, or anything that is typed into the skill. 
      p(class="lead", class="text-left") No information is ever disclosed to any third party outside of the Commute Info Service. 
    div(class="footer")
      p &copy; Commute Info Service for Alexa